body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  flex: 0 0 75px;
  background-color: #94618e;
}
main {
  flex: 1;
  display: flex;
  background-color: #49274a;
}
/*
footer {
  flex: 0 0 40px;
  background-color: #C14F4F;
}
*/
.left {
  flex: 0 2 250px;
  background-color: #f4decb;
}
.right {
  flex: 0 2 250px;
  background-color: #f8eee7;
}
.middle {
  flex:1 1 300px;
}
.button {
  background-color: #0d69b2;
  color: #ffffff;
  /*TODO border, rounding*/
}
